
body {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1)), url('../static/photos/fog.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}


.books-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}


.book {
    flex: 1 1 calc(33% - 20px);
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    border: 2px solid #d6cdcd;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.book:hover {
    transform: translateY(-5px);
}


.book img {
    width: 100%;
    max-width: 150px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.book p {
    font-weight: bold;
    margin-bottom: 15px;
}


.confirm-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.confirm-button:hover {
    background-color: #45a049;
}
