<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/mainpage.css">
    <title>Library of Eagles</title>
</head>
<body>
    <header>
        <div class="header-content">
        </div> 
        <h2 class="neon-text neon-text-glow">Welcome in Library of Eagles!</h2>
    </header>

    <main>
        <div class="container">
            <a href="" class="tile">
                <div class="tile-content">
                    <h3 class="neon-text neon-text-glow">Hire a book!</h3>
                </div>
            </a>
            <a href="releases.html" class="tile">
                <div class="tile-content">
                    <h3 class="neon-text neon-text-glow">What's new?</h3>
                </div>
            </a>
            <a href="login.html" class="tile">
                <div class="tile-content">
                    <h3 class="neon-text neon-text-glow">Login-in</h3>
                </div>
            </a>
        </div>

        <p class="neon-text"><b>Here you will find extraordinary books with the possibility of lending.</b></p>
    </main>

    <h3 class="neon-text neon-text-glow">Contact</h3>

    <mail class="neon-text">Any question? Write to us an email:
        <a href="mailto:BibliotekaOrły@gmail.com">BibliotekaOrły@gmail.com</a><p>
    </mail>
</body>
<footer>
    <hr>
    <p class="neon-text">&copy; 2025 Library Page. All rights reserved.</p>
</footer>
</html>
