<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/mainpage.css">
        <title>Library of Eagles</title>
    </head>
    <body>
        <header>
            <div class="header-content">
                <img src="../static/photos/eagle.png" id="eagle" alt="Eagle" />
            </div> 
            <h2>Welcome in Library of Eagles!</h2>
        </header>

        <main>
            <div class="container">
                <a href="" class="tile">
                    <div class="tile-content">
                        <h3>Hire a book!</h3>
                    </div>
                </a>
                <a href="releases.html" class="tile">
                    <div class="tile-content">
                        <h3>What's new?</h3>
                    </div>
                </a>
                <a href="login.html" class="tile">
                    <div class="tile-content">
                        <h3>Login-in</h3>
                    </div>
                </a>
            </div>

            <p><b>Here you will find extraordinary books with the possibility of lending.</b></p>
        </main>
        <h3>
            Contact
        </h3>
        <mail>Any question? Write to us an email:
            <a href="mailto:BibliotekaOrły@gmail.com">BibliotekaOrły@gmail.com</a><p>
        </mail>
    </body>
<footer>
    <hr>
    <p>&copy; 2025 Library Page. All rights reserved.</p>
</footer>
</html>
