<!DOCTYPE html>
<html lang="pl">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login-in.css">
    <title> Login in</title>
    </head>
<body>
    <div class="container">
        <div class="profile-icon">
        </div>
    <form>
        <div>
        <label for="username">Username</label><br>
            <input type="text" id="fname" name="fname" required placeholder="Enter your username"><br>
        </div>
        <div>
            <label for="pass">Password:</label><br>
            <input type="password" id="pass" name="password" minlength="8" required="8" required placeholder="Enter your password">
        </div>
        <div>
            <button type="submit">Submit</button>
            <input type="checkbox" value="ls_zapamiętaj_mnie" id="zapamiętaj_mnie">
            <label for="zapamiętaj_mnie">Don't log out me</label>
        </div>
    </form>
