<!DOCTYPE html>
<html lang="pl">
    <head>
    <meta charset="UtF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/releases.css">
    <title>
        Releases
    </title>
    </head>
    <body>
        <header>
            <h1>What's new with us? Check it out and see!</h1>
        </header>
    </body>
    <main>
        <body>
            <h2>Choose quantity of books</h2>
            <div class="books-container">
                <div class="book">
                    <img src="../static/photos/dudus.png" alt="Book 1">
                    <p>Duduś-Prezydent we mgle</p>
                    <input type="number" min="0" max="10" value="0">
                    <button class="confirm-button" onclick="confirmSelection()">Submit</button>
                </div>
                <div class="book">
                    <img src="../static/photos/konfi.png" alt="Book 2">
                    <p>Konfident</p>
                    <input type="number" min="0" max="10" value="0">
                    <button class="confirm-button" onclick="confirmSelection()">Submit</button>
                </div>
                <div class="book">
                    <img src="../static/photos/potato.png" alt="Book 3">
                    <p> Z punktu widzenia ziemniaka</p>
                    <input type="number" min="0" max="10" value="0">
                    <button class="confirm-button" onclick="confirmSelection()">Submit</button>
                </div>
            </div>
        </body> 
    </main>
</html>